<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Saucedemo Test Suite" parallel="false" thread-count="10">
<!--    reportng report-->
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

    <test name="chrome-tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.saucedemo.tests.LoginTests">
            </class>
            <class name="com.saucedemo.tests.ProductTests">
            </class>
            <class name="com.saucedemo.tests.CartTest">
            </class>
            <class name="com.saucedemo.tests.CheckoutTests">
            </class>
            <class name="com.saucedemo.tests.OverviewTest">
            </class>
            <class name="com.saucedemo.tests.OrderCompleteTest">
            </class>
        </classes>
    </test>
</suite>
